In [10]:
import random
import string

In [3]:
def sd(n):
    return ''.join(random.choices(string.ascii_letters + string.digits, k=n))

def s(n):
    return ''.join(random.choices(string.ascii_letters, k=n))

def d(n):
    return ''.join(random.choices( string.digits, k=n))

def i(a,b):
    return random.randint(a,b)

def a(f,n,m):
    return [f(n) for _ in range(m)]

-- branch
insert into branch (branch_name,city,asset)
	values ("North_Bank","North",12345);
	
insert into branch (branch_name,city,asset)
	values ("South_Bank","South",23456);
	
insert into branch (branch_name,city,asset)
	values ("East_Bank","East",34567);

insert into branch (branch_name,city,asset)
	values ("West_Bank","West",45678);

-- employee
insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(0,"North_Bank",1,"e1","ustc","123","2019-04-25 11:25:13");


insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(1,"North_Bank",1,"e1","ustc","123","2019-04-25 11:25:13");

insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(2,"North_Bank",1,"e2","ustc","234","2019-04-24 11:25:13");

insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(3,"North_Bank",1,"e3","ustc","234","2019-04-26 11:25:13");

insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(4,"South_Bank",4,"e4","ustc","234","2019-04-26 11:25:13");

insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(5,"South_Bank",4,"e5","ustc","234","2019-04-25 11:25:13");

insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(6,"South_Bank",4,"e6","ustc","234","2019-04-27 11:25:13");

insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(7,"East_Bank",7,"e7","ustc","234","2019-04-27 11:25:13");

insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(8,"East_Bank",7,"e8","ustc","234","2019-04-27 11:25:13");

insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(9,"East_Bank",7,"e9","ustc","234","2019-04-27 11:25:13");

insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(10,"West_Bank",10,"e10","ustc","234","2019-04-27 11:25:13");

insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(11,"West_Bank",10,"e11","ustc","234","2019-04-27 11:25:13");

insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(12,"West_Bank",10,"e11","ustc","234","2019-04-27 11:25:13");

In [52]:
random.choice([1,2,3])
random.randint(0,2)
branch_name=["North_Bank","South_Bank","East_Bank","West_Bank"]

In [7]:
customer_name=["ab","cd","ef","hi","jk","lm","op","qs","tu","vw","xy"]

In [9]:
#define 
employee_num=13# 0-12
customer_num=37#0-36

In [8]:
#customer
for i in range(0,customer_num):
    print("""
insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values 
(%d,"c%d","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");"""%(i,i))

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(0,"c0","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(1,"c1","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(2,"c2","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(3,"c3","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(4,"c4","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(5,"c5","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(6,"c6","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(7,"c7","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(8,"c8","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(9,"c9","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(10,"c10","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(11,"c11","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(12,"c12","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(13,"c13","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(14,"c14","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(15,"c15","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(16,"c16","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(17,"c17","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(18,"c18","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(19,"c19","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(20,"c20","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(21,"c21","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(22,"c22","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(23,"c23","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(24,"c24","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(25,"c25","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(26,"c26","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(27,"c27","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(28,"c28","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(29,"c29","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(30,"c30","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(31,"c31","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(32,"c32","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(33,"c33","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(34,"c34","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(35,"c35","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(36,"c36","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

In [51]:
#responsible
for i in range(0,customer_num):
    print("""
insert into responsible (employee_id,customer_id,type)
values
(%d,%d,"%s");
"""%(random.randint(0,employee_num-1),i,random.choice(["A","B"])))

insert into responsible (employee_id,customer_id,type)
values
(4,0,"B");


insert into responsible (employee_id,customer_id,type)
values
(1,1,"B");


insert into responsible (employee_id,customer_id,type)
values
(8,2,"B");


insert into responsible (employee_id,customer_id,type)
values
(8,3,"B");


insert into responsible (employee_id,customer_id,type)
values
(10,4,"B");


insert into responsible (employee_id,customer_id,type)
values
(0,5,"A");


insert into responsible (employee_id,customer_id,type)
values
(0,6,"A");


insert into responsible (employee_id,customer_id,type)
values
(9,7,"A");


insert into responsible (employee_id,customer_id,type)
values
(0,8,"B");


insert into responsible (employee_id,customer_id,type)
values
(11,9,"B");


insert into responsible (employee_id,customer_id,type)
values
(3,10,"B");


insert into responsible (employee_id,customer_id,type)
values
(8,11,"A");


insert into responsible (employee_id,customer_id,type)
values
(4,12,"B");


insert into responsible (employee_id,customer_id,type)
values
(7,13,"A");


insert into responsible (employee_id,customer_id,type)
values
(9,14,"B");


insert into responsible (employee_id,customer_id,type)
values
(7,15,"B");


insert into responsible (employee_id,customer_id,type)
values
(7,16,"B");


insert into responsible (employee_id,customer_id,type)
values
(1,17,"B");


insert into responsible (employee_id,customer_id,type)
values
(7,18,"B");


insert into responsible (employee_id,customer_id,type)
values
(3,19,"B");


insert into responsible (employee_id,customer_id,type)
values
(3,20,"B");


insert into responsible (employee_id,customer_id,type)
values
(12,21,"B");


insert into responsible (employee_id,customer_id,type)
values
(1,22,"B");


insert into responsible (employee_id,customer_id,type)
values
(11,23,"B");


insert into responsible (employee_id,customer_id,type)
values
(6,24,"B");


insert into responsible (employee_id,customer_id,type)
values
(0,25,"A");


insert into responsible (employee_id,customer_id,type)
values
(7,26,"B");


insert into responsible (employee_id,customer_id,type)
values
(2,27,"B");


insert into responsible (employee_id,customer_id,type)
values
(2,28,"A");


insert into responsible (employee_id,customer_id,type)
values
(7,29,"A");


insert into responsible (employee_id,customer_id,type)
values
(4,30,"A");


insert into responsible (employee_id,customer_id,type)
values
(11,31,"B");


insert into responsible (employee_id,customer_id,type)
values
(7,32,"A");


insert into responsible (employee_id,customer_id,type)
values
(4,33,"B");


insert into responsible (employee_id,customer_id,type)
values
(7,34,"B");


insert into responsible (employee_id,customer_id,type)
values
(0,35,"A");


insert into responsible (employee_id,customer_id,type)
values
(3,36,"A");

In [78]:
#saving_account
for i in range(customer_num):
    print("""
insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(%d,"%s",%d,"2019-%d-12 12:23:34",%f,"%s");
"""%(i,random.choice(branch_name),random.randint(0,100),random.randint(1,12),random.uniform(0,1),random.choice(["RMB","USD"])))

insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(0,"South_Bank",11,"2019-10-12 12:23:34",0.759883,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(1,"North_Bank",17,"2019-12-12 12:23:34",0.493878,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(2,"East_Bank",82,"2019-4-12 12:23:34",0.690891,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(3,"South_Bank",83,"2019-4-12 12:23:34",0.139736,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(4,"West_Bank",9,"2019-10-12 12:23:34",0.852744,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(5,"West_Bank",6,"2019-12-12 12:23:34",0.610320,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(6,"West_Bank",36,"2019-2-12 12:23:34",0.325290,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(7,"South_Bank",22,"2019-3-12 12:23:34",0.218907,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(8,"South_Bank",32,"2019-1-12 12:23:34",0.032550,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(9,"North_Bank",38,"2019-10-12 12:23:34",0.878417,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(10,"West_Bank",8,"2019-1-12 12:23:34",0.639364,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(11,"North_Bank",39,"2019-9-12 12:23:34",0.815893,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(12,"South_Bank",26,"2019-6-12 12:23:34",0.012938,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(13,"South_Bank",87,"2019-9-12 12:23:34",0.872311,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(14,"South_Bank",19,"2019-6-12 12:23:34",0.944009,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(15,"East_Bank",23,"2019-10-12 12:23:34",0.499257,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(16,"North_Bank",18,"2019-5-12 12:23:34",0.857805,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(17,"South_Bank",28,"2019-10-12 12:23:34",0.934700,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(18,"North_Bank",5,"2019-5-12 12:23:34",0.578155,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(19,"West_Bank",37,"2019-12-12 12:23:34",0.612817,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(20,"North_Bank",64,"2019-11-12 12:23:34",0.292049,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(21,"East_Bank",27,"2019-4-12 12:23:34",0.945182,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(22,"South_Bank",18,"2019-7-12 12:23:34",0.074730,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(23,"North_Bank",65,"2019-8-12 12:23:34",0.187459,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(24,"North_Bank",84,"2019-3-12 12:23:34",0.953948,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(25,"West_Bank",67,"2019-4-12 12:23:34",0.208063,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(26,"North_Bank",65,"2019-3-12 12:23:34",0.262300,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(27,"East_Bank",51,"2019-12-12 12:23:34",0.459298,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(28,"West_Bank",58,"2019-12-12 12:23:34",0.186054,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(29,"East_Bank",29,"2019-7-12 12:23:34",0.698631,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(30,"East_Bank",64,"2019-9-12 12:23:34",0.280012,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(31,"West_Bank",33,"2019-3-12 12:23:34",0.992948,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(32,"South_Bank",11,"2019-9-12 12:23:34",0.804076,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(33,"West_Bank",90,"2019-5-12 12:23:34",0.786432,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(34,"North_Bank",97,"2019-5-12 12:23:34",0.792196,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(35,"West_Bank",22,"2019-3-12 12:23:34",0.685728,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(36,"South_Bank",48,"2019-8-12 12:23:34",0.981224,"RMB");

In [80]:
#check_account
for i in range(customer_num):
    print("""
insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(%d,"%s",%d,"2019-%d-12 12:23:34",%d);
"""%(i+customer_num,random.choice(branch_name),random.randint(0,100),
     random.randint(1,12),random.randint(100,200)))

insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(37,"South_Bank",1,"2019-9-12 12:23:34",145);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(38,"West_Bank",0,"2019-1-12 12:23:34",101);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(39,"East_Bank",57,"2019-11-12 12:23:34",168);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(40,"West_Bank",52,"2019-2-12 12:23:34",177);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(41,"South_Bank",40,"2019-10-12 12:23:34",141);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(42,"East_Bank",24,"2019-3-12 12:23:34",120);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(43,"North_Bank",100,"2019-3-12 12:23:34",132);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(44,"South_Bank",73,"2019-9-12 12:23:34",123);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(45,"East_Bank",65,"2019-8-12 12:23:34",163);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(46,"East_Bank",76,"2019-9-12 12:23:34",176);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(47,"East_Bank",53,"2019-11-12 12:23:34",120);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(48,"North_Bank",77,"2019-7-12 12:23:34",115);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(49,"East_Bank",100,"2019-5-12 12:23:34",191);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(50,"East_Bank",73,"2019-4-12 12:23:34",131);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(51,"North_Bank",59,"2019-1-12 12:23:34",196);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(52,"East_Bank",27,"2019-8-12 12:23:34",101);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(53,"South_Bank",48,"2019-12-12 12:23:34",117);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(54,"East_Bank",53,"2019-12-12 12:23:34",118);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(55,"West_Bank",32,"2019-9-12 12:23:34",175);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(56,"North_Bank",14,"2019-2-12 12:23:34",143);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(57,"South_Bank",50,"2019-3-12 12:23:34",168);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(58,"West_Bank",20,"2019-9-12 12:23:34",199);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(59,"East_Bank",89,"2019-4-12 12:23:34",128);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(60,"East_Bank",85,"2019-6-12 12:23:34",147);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(61,"East_Bank",71,"2019-8-12 12:23:34",154);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(62,"West_Bank",75,"2019-8-12 12:23:34",121);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(63,"West_Bank",28,"2019-10-12 12:23:34",118);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(64,"North_Bank",4,"2019-7-12 12:23:34",155);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(65,"West_Bank",3,"2019-11-12 12:23:34",165);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(66,"South_Bank",44,"2019-12-12 12:23:34",172);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(67,"East_Bank",45,"2019-2-12 12:23:34",138);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(68,"South_Bank",44,"2019-6-12 12:23:34",112);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(69,"South_Bank",37,"2019-2-12 12:23:34",134);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(70,"West_Bank",30,"2019-7-12 12:23:34",178);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(71,"West_Bank",58,"2019-1-12 12:23:34",161);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(72,"North_Bank",51,"2019-10-12 12:23:34",108);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(73,"South_Bank",57,"2019-12-12 12:23:34",171);

In [84]:
#depositor
for i in range(2*customer_num):
    print("""
insert into depositor
(Account_id,customer_id,access_date)
values
(%d,%d,"2019-%d-12 12:23:34");
"""%(i,customer_num-i%customer_num-1,random.randint(1,12)))

insert into depositor
(Account_id,customer_id,access_date)
values
(0,36,"2019-3-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(1,35,"2019-7-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(2,34,"2019-4-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(3,33,"2019-3-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(4,32,"2019-3-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(5,31,"2019-4-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(6,30,"2019-1-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(7,29,"2019-8-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(8,28,"2019-5-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(9,27,"2019-1-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(10,26,"2019-3-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(11,25,"2019-1-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(12,24,"2019-8-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(13,23,"2019-2-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(14,22,"2019-4-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(15,21,"2019-5-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(16,20,"2019-7-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(17,19,"2019-5-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(18,18,"2019-11-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(19,17,"2019-3-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(20,16,"2019-7-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(21,15,"2019-8-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(22,14,"2019-8-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(23,13,"2019-6-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(24,12,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(25,11,"2019-4-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(26,10,"2019-6-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(27,9,"2019-2-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(28,8,"2019-3-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(29,7,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(30,6,"2019-6-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(31,5,"2019-7-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(32,4,"2019-2-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(33,3,"2019-2-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(34,2,"2019-3-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(35,1,"2019-2-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(36,0,"2019-2-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(37,36,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(38,35,"2019-2-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(39,34,"2019-5-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(40,33,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(41,32,"2019-5-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(42,31,"2019-11-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(43,30,"2019-3-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(44,29,"2019-3-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(45,28,"2019-11-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(46,27,"2019-6-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(47,26,"2019-5-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(48,25,"2019-6-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(49,24,"2019-12-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(50,23,"2019-2-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(51,22,"2019-2-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(52,21,"2019-2-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(53,20,"2019-4-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(54,19,"2019-6-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(55,18,"2019-12-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(56,17,"2019-3-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(57,16,"2019-4-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(58,15,"2019-8-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(59,14,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(60,13,"2019-2-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(61,12,"2019-6-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(62,11,"2019-7-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(63,10,"2019-9-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(64,9,"2019-6-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(65,8,"2019-2-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(66,7,"2019-4-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(67,6,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(68,5,"2019-9-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(69,4,"2019-3-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(70,3,"2019-9-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(71,2,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(72,1,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(73,0,"2019-1-12 12:23:34");

In [87]:
#loan
for i in range(customer_num):
    print("""
insert into loan(loan_id,branch_name,amount)
values
(%d,"%s",%d);
"""%(i,random.choice(branch_name),random.randint(100,150)))

insert into loan(loan_id,branch_name,amount)
values
(0,"East_Bank",107);


insert into loan(loan_id,branch_name,amount)
values
(1,"North_Bank",130);


insert into loan(loan_id,branch_name,amount)
values
(2,"North_Bank",137);


insert into loan(loan_id,branch_name,amount)
values
(3,"East_Bank",139);


insert into loan(loan_id,branch_name,amount)
values
(4,"North_Bank",142);


insert into loan(loan_id,branch_name,amount)
values
(5,"East_Bank",132);


insert into loan(loan_id,branch_name,amount)
values
(6,"North_Bank",126);


insert into loan(loan_id,branch_name,amount)
values
(7,"East_Bank",115);


insert into loan(loan_id,branch_name,amount)
values
(8,"West_Bank",127);


insert into loan(loan_id,branch_name,amount)
values
(9,"East_Bank",111);


insert into loan(loan_id,branch_name,amount)
values
(10,"East_Bank",135);


insert into loan(loan_id,branch_name,amount)
values
(11,"North_Bank",145);


insert into loan(loan_id,branch_name,amount)
values
(12,"North_Bank",106);


insert into loan(loan_id,branch_name,amount)
values
(13,"South_Bank",126);


insert into loan(loan_id,branch_name,amount)
values
(14,"South_Bank",100);


insert into loan(loan_id,branch_name,amount)
values
(15,"North_Bank",124);


insert into loan(loan_id,branch_name,amount)
values
(16,"West_Bank",110);


insert into loan(loan_id,branch_name,amount)
values
(17,"West_Bank",141);


insert into loan(loan_id,branch_name,amount)
values
(18,"South_Bank",127);


insert into loan(loan_id,branch_name,amount)
values
(19,"West_Bank",108);


insert into loan(loan_id,branch_name,amount)
values
(20,"West_Bank",131);


insert into loan(loan_id,branch_name,amount)
values
(21,"East_Bank",130);


insert into loan(loan_id,branch_name,amount)
values
(22,"West_Bank",109);


insert into loan(loan_id,branch_name,amount)
values
(23,"North_Bank",138);


insert into loan(loan_id,branch_name,amount)
values
(24,"West_Bank",132);


insert into loan(loan_id,branch_name,amount)
values
(25,"North_Bank",144);


insert into loan(loan_id,branch_name,amount)
values
(26,"South_Bank",139);


insert into loan(loan_id,branch_name,amount)
values
(27,"North_Bank",134);


insert into loan(loan_id,branch_name,amount)
values
(28,"South_Bank",103);


insert into loan(loan_id,branch_name,amount)
values
(29,"South_Bank",120);


insert into loan(loan_id,branch_name,amount)
values
(30,"East_Bank",103);


insert into loan(loan_id,branch_name,amount)
values
(31,"East_Bank",129);


insert into loan(loan_id,branch_name,amount)
values
(32,"West_Bank",117);


insert into loan(loan_id,branch_name,amount)
values
(33,"North_Bank",148);


insert into loan(loan_id,branch_name,amount)
values
(34,"North_Bank",103);


insert into loan(loan_id,branch_name,amount)
values
(35,"East_Bank",116);


insert into loan(loan_id,branch_name,amount)
values
(36,"West_Bank",119);

In [91]:
#payment
for i in range(2*customer_num):
    print("""
insert into payment
(loan_id,payment_id,payment_date,amount)
values
(%d,%d,"2019-%d-12 12:23:34",%d);
"""%(i%customer_num,i,random.randint(1,12),random.randint(0,20)))

insert into payment
(loan_id,payment_id,payment_date,amount)
values
(0,0,"2019-6-12 12:23:34",11);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(1,1,"2019-11-12 12:23:34",6);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(2,2,"2019-1-12 12:23:34",18);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(3,3,"2019-11-12 12:23:34",3);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(4,4,"2019-3-12 12:23:34",0);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(5,5,"2019-9-12 12:23:34",1);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(6,6,"2019-7-12 12:23:34",17);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(7,7,"2019-10-12 12:23:34",18);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(8,8,"2019-9-12 12:23:34",11);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(9,9,"2019-9-12 12:23:34",17);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(10,10,"2019-7-12 12:23:34",18);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(11,11,"2019-12-12 12:23:34",10);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(12,12,"2019-3-12 12:23:34",18);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(13,13,"2019-3-12 12:23:34",12);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(14,14,"2019-3-12 12:23:34",5);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(15,15,"2019-1-12 12:23:34",11);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(16,16,"2019-2-12 12:23:34",9);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(17,17,"2019-1-12 12:23:34",17);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(18,18,"2019-2-12 12:23:34",12);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(19,19,"2019-12-12 12:23:34",7);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(20,20,"2019-5-12 12:23:34",17);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(21,21,"2019-11-12 12:23:34",20);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(22,22,"2019-8-12 12:23:34",16);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(23,23,"2019-7-12 12:23:34",13);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(24,24,"2019-11-12 12:23:34",18);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(25,25,"2019-2-12 12:23:34",8);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(26,26,"2019-11-12 12:23:34",8);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(27,27,"2019-3-12 12:23:34",5);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(28,28,"2019-12-12 12:23:34",11);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(29,29,"2019-11-12 12:23:34",19);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(30,30,"2019-1-12 12:23:34",11);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(31,31,"2019-4-12 12:23:34",0);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(32,32,"2019-2-12 12:23:34",10);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(33,33,"2019-9-12 12:23:34",19);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(34,34,"2019-3-12 12:23:34",2);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(35,35,"2019-12-12 12:23:34",2);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(36,36,"2019-7-12 12:23:34",1);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(0,37,"2019-7-12 12:23:34",3);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(1,38,"2019-12-12 12:23:34",17);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(2,39,"2019-2-12 12:23:34",16);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(3,40,"2019-10-12 12:23:34",4);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(4,41,"2019-6-12 12:23:34",15);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(5,42,"2019-7-12 12:23:34",2);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(6,43,"2019-11-12 12:23:34",12);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(7,44,"2019-7-12 12:23:34",1);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(8,45,"2019-11-12 12:23:34",20);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(9,46,"2019-1-12 12:23:34",13);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(10,47,"2019-6-12 12:23:34",11);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(11,48,"2019-3-12 12:23:34",12);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(12,49,"2019-6-12 12:23:34",19);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(13,50,"2019-12-12 12:23:34",13);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(14,51,"2019-8-12 12:23:34",7);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(15,52,"2019-2-12 12:23:34",3);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(16,53,"2019-7-12 12:23:34",2);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(17,54,"2019-5-12 12:23:34",1);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(18,55,"2019-3-12 12:23:34",3);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(19,56,"2019-10-12 12:23:34",4);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(20,57,"2019-4-12 12:23:34",0);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(21,58,"2019-3-12 12:23:34",19);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(22,59,"2019-6-12 12:23:34",4);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(23,60,"2019-5-12 12:23:34",11);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(24,61,"2019-4-12 12:23:34",10);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(25,62,"2019-3-12 12:23:34",13);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(26,63,"2019-11-12 12:23:34",4);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(27,64,"2019-10-12 12:23:34",8);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(28,65,"2019-5-12 12:23:34",16);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(29,66,"2019-9-12 12:23:34",19);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(30,67,"2019-9-12 12:23:34",0);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(31,68,"2019-11-12 12:23:34",3);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(32,69,"2019-2-12 12:23:34",2);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(33,70,"2019-2-12 12:23:34",4);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(34,71,"2019-4-12 12:23:34",15);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(35,72,"2019-9-12 12:23:34",10);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(36,73,"2019-7-12 12:23:34",20);

In [92]:
#borrow
for i in range(customer_num):
    print("""
insert into borrow(customer_id,loan_id)
values
(%d,%d);
"""%(i,customer_num-1-i))

insert into borrow(customer_id,loan_id)
values
(0,36);


insert into borrow(customer_id,loan_id)
values
(1,35);


insert into borrow(customer_id,loan_id)
values
(2,34);


insert into borrow(customer_id,loan_id)
values
(3,33);


insert into borrow(customer_id,loan_id)
values
(4,32);


insert into borrow(customer_id,loan_id)
values
(5,31);


insert into borrow(customer_id,loan_id)
values
(6,30);


insert into borrow(customer_id,loan_id)
values
(7,29);


insert into borrow(customer_id,loan_id)
values
(8,28);


insert into borrow(customer_id,loan_id)
values
(9,27);


insert into borrow(customer_id,loan_id)
values
(10,26);


insert into borrow(customer_id,loan_id)
values
(11,25);


insert into borrow(customer_id,loan_id)
values
(12,24);


insert into borrow(customer_id,loan_id)
values
(13,23);


insert into borrow(customer_id,loan_id)
values
(14,22);


insert into borrow(customer_id,loan_id)
values
(15,21);


insert into borrow(customer_id,loan_id)
values
(16,20);


insert into borrow(customer_id,loan_id)
values
(17,19);


insert into borrow(customer_id,loan_id)
values
(18,18);


insert into borrow(customer_id,loan_id)
values
(19,17);


insert into borrow(customer_id,loan_id)
values
(20,16);


insert into borrow(customer_id,loan_id)
values
(21,15);


insert into borrow(customer_id,loan_id)
values
(22,14);


insert into borrow(customer_id,loan_id)
values
(23,13);


insert into borrow(customer_id,loan_id)
values
(24,12);


insert into borrow(customer_id,loan_id)
values
(25,11);


insert into borrow(customer_id,loan_id)
values
(26,10);


insert into borrow(customer_id,loan_id)
values
(27,9);


insert into borrow(customer_id,loan_id)
values
(28,8);


insert into borrow(customer_id,loan_id)
values
(29,7);


insert into borrow(customer_id,loan_id)
values
(30,6);


insert into borrow(customer_id,loan_id)
values
(31,5);


insert into borrow(customer_id,loan_id)
values
(32,4);


insert into borrow(customer_id,loan_id)
values
(33,3);


insert into borrow(customer_id,loan_id)
values
(34,2);


insert into borrow(customer_id,loan_id)
values
(35,1);


insert into borrow(customer_id,loan_id)
values
(36,0);