In [2]:
import random
import string

In [3]:
def sd(n):
    return ''.join(random.choices(string.ascii_letters + string.digits, k=n))

def s(n):
    return ''.join(random.choices(string.ascii_letters, k=n))

def d(n):
    return ''.join(random.choices( string.digits, k=n))

def i(a,b):
    return random.randint(a,b)

def a(f,n,m):
    return [f(n) for _ in range(m)]

-- branch
insert into branch (branch_name,city,asset)
	values ("North_Bank","North",12345);
	
insert into branch (branch_name,city,asset)
	values ("South_Bank","South",23456);
	
insert into branch (branch_name,city,asset)
	values ("East_Bank","East",34567);

insert into branch (branch_name,city,asset)
	values ("West_Bank","West",45678);

-- employee
insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(0,"North_Bank",1,"e1","ustc","123","2019-04-25 11:25:13");


insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(1,"North_Bank",1,"e1","ustc","123","2019-04-25 11:25:13");

insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(2,"North_Bank",1,"e2","ustc","234","2019-04-24 11:25:13");

insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(3,"North_Bank",1,"e3","ustc","234","2019-04-26 11:25:13");

insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(4,"South_Bank",4,"e4","ustc","234","2019-04-26 11:25:13");

insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(5,"South_Bank",4,"e5","ustc","234","2019-04-25 11:25:13");

insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(6,"South_Bank",4,"e6","ustc","234","2019-04-27 11:25:13");

insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(7,"East_Bank",7,"e7","ustc","234","2019-04-27 11:25:13");

insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(8,"East_Bank",7,"e8","ustc","234","2019-04-27 11:25:13");

insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(9,"East_Bank",7,"e9","ustc","234","2019-04-27 11:25:13");

insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(10,"West_Bank",10,"e10","ustc","234","2019-04-27 11:25:13");

insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(11,"West_Bank",10,"e11","ustc","234","2019-04-27 11:25:13");

insert into employee
(employee_id,branch_name,manager_id,name,address,phone,start_date)
values
(12,"West_Bank",10,"e11","ustc","234","2019-04-27 11:25:13");

In [4]:
random.choice([1,2,3])
random.randint(0,2)
branch_name=["North_Bank","South_Bank","East_Bank","West_Bank"]

In [5]:
customer_name=["ab","cd","ef","hi","jk","lm","op","qs","tu","vw","xy"]
month=["01","02","03","04","05","06","07","08","09","10","11","12"]

In [30]:
#define 
employee_num=13# 0-12
customer_num=133#0-133

In [31]:
#customer
for i in range(0,customer_num):
    print("""
insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values 
(%d,"c%d","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");"""%(i,i))

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(0,"c0","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(1,"c1","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(2,"c2","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(3,"c3","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(4,"c4","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(5,"c5","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(6,"c6","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(7,"c7","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(8,"c8","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(9,"c9","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(10,"c10","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(11,"c11","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(12,"c12","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(13,"c13","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(14,"c14","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(15,"c15","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(16,"c16","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(17,"c17","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(18,"c18","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(19,"c19","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(20,"c20","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(21,"c21","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(22,"c22","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(23,"c23","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(24,"c24","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(25,"c25","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(26,"c26","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(27,"c27","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(28,"c28","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(29,"c29","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(30,"c30","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(31,"c31","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(32,"c32","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(33,"c33","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(34,"c34","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(35,"c35","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(36,"c36","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(37,"c37","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(38,"c38","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(39,"c39","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(40,"c40","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(41,"c41","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(42,"c42","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(43,"c43","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(44,"c44","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(45,"c45","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(46,"c46","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(47,"c47","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(48,"c48","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(49,"c49","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(50,"c50","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(51,"c51","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(52,"c52","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(53,"c53","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(54,"c54","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(55,"c55","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(56,"c56","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(57,"c57","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(58,"c58","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(59,"c59","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(60,"c60","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(61,"c61","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(62,"c62","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(63,"c63","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(64,"c64","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(65,"c65","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(66,"c66","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(67,"c67","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(68,"c68","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(69,"c69","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(70,"c70","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(71,"c71","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(72,"c72","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(73,"c73","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(74,"c74","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(75,"c75","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(76,"c76","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(77,"c77","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(78,"c78","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(79,"c79","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(80,"c80","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(81,"c81","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(82,"c82","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(83,"c83","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(84,"c84","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(85,"c85","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(86,"c86","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(87,"c87","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(88,"c88","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(89,"c89","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(90,"c90","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(91,"c91","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(92,"c92","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(93,"c93","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(94,"c94","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(95,"c95","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(96,"c96","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(97,"c97","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(98,"c98","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(99,"c99","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(100,"c100","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(101,"c101","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(102,"c102","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");

insert into customer (customer_id,name,phone,address,contact_name,contact_phone,contact_email,contact_relation)
values
(103,"c103","345678","ustc","ab","123456","ab@mail.ustc.edu.cn","other");


In [32]:
#responsible
for i in range(0,customer_num):
    print("""
insert into responsible (employee_id,customer_id,type)
values
(%d,%d,"%s");
"""%(random.randint(0,employee_num-1),i,random.choice(["A","B"])))

insert into responsible (employee_id,customer_id,type)
values
(6,0,"A");


insert into responsible (employee_id,customer_id,type)
values
(12,1,"A");


insert into responsible (employee_id,customer_id,type)
values
(8,2,"B");


insert into responsible (employee_id,customer_id,type)
values
(12,3,"A");


insert into responsible (employee_id,customer_id,type)
values
(6,4,"A");


insert into responsible (employee_id,customer_id,type)
values
(2,5,"B");


insert into responsible (employee_id,customer_id,type)
values
(11,6,"B");


insert into responsible (employee_id,customer_id,type)
values
(11,7,"B");


insert into responsible (employee_id,customer_id,type)
values
(1,8,"A");


insert into responsible (employee_id,customer_id,type)
values
(2,9,"A");


insert into responsible (employee_id,customer_id,type)
values
(3,10,"B");


insert into responsible (employee_id,customer_id,type)
values
(11,11,"A");


insert into responsible (employee_id,customer_id,type)
values
(10,12,"A");


insert into responsible (employee_id,customer_id,type)
values
(3,13,"B");


insert into responsible (employee_id,customer_id,type)
values
(0,14,"B");


insert into responsible (employee_id,customer_id,type)
values
(0,15,"A");


insert into responsible (employee_id,customer_id,type)
values
(8,16,"A");


insert into responsible (employee_id,customer_id,type)
values
(10,17,"A");


insert into responsible (employee_id,customer_id,type)
values
(1,18,"A");


insert into responsible (employee_id,customer_id,type)
values
(12,19,"B");


insert into responsible (employee_id,customer_id,type)
values
(2,20,"B");


insert into responsible (employee_id,customer_id,type)
values
(0,21,"A");


insert into responsible (employee_id,customer_id,type)
values
(7,22,"A");


insert into responsible (employee_id,customer_id,type)
values
(0,23,"B");


insert into responsible (employee_id,customer_id,type)
values
(3,24,"B");


insert into responsible (employee_id,customer_id,type)
values
(9,25,"A");


insert into responsible (employee_id,customer_id,type)
values
(6,26,"A");


insert into responsible (employee_id,customer_id,type)
values
(11,27,"A");


insert into responsible (employee_id,customer_id,type)
values
(11,28,"A");


insert into responsible (employee_id,customer_id,type)
values
(7,29,"B");


insert into responsible (employee_id,customer_id,type)
values
(7,30,"B");


insert into responsible (employee_id,customer_id,type)
values
(1,31,"A");


insert into responsible (employee_id,customer_id,type)
values
(1,32,"B");


insert into responsible (employee_id,customer_id,type)
values
(3,33,"A");


insert into responsible (employee_id,customer_id,type)
values
(3,34,"A");


insert into responsible (employee_id,customer_id,type)
values
(11,35,"B");


insert into responsible (employee_id,customer_id,type)
values
(12,36,"A");


insert into responsible (employee_id,customer_id,type)
values
(5,37,"B");


insert into responsible (employee_id,customer_id,type)
values
(8,38,"A");


insert into responsible (employee_id,customer_id,type)
values
(0,39,"A");


insert into responsible (employee_id,customer_id,type)
values
(4,40,"A");


insert into responsible (employee_id,customer_id,type)
values
(2,41,"B");


insert into responsible (employee_id,customer_id,type)
values
(9,42,"A");


insert into responsible (employee_id,customer_id,type)
values
(7,43,"A");


insert into responsible (employee_id,customer_id,type)
values
(3,44,"A");


insert into responsible (employee_id,customer_id,type)
values
(8,45,"B");


insert into responsible (employee_id,customer_id,type)
values
(4,46,"A");


insert into responsible (employee_id,customer_id,type)
values
(3,47,"B");


insert into responsible (employee_id,customer_id,type)
values
(4,48,"A");


insert into responsible (employee_id,customer_id,type)
values
(6,49,"B");


insert into responsible (employee_id,customer_id,type)
values
(12,50,"B");


insert into responsible (employee_id,customer_id,type)
values
(0,51,"A");


insert into responsible (employee_id,customer_id,type)
values
(2,52,"B");


insert into responsible (employee_id,customer_id,type)
values
(0,53,"B");


insert into responsible (employee_id,customer_id,type)
values
(3,54,"B");


insert into responsible (employee_id,customer_id,type)
values
(10,55,"A");


insert into responsible (employee_id,customer_id,type)
values
(6,56,"B");


insert into responsible (employee_id,customer_id,type)
values
(12,57,"B");


insert into responsible (employee_id,customer_id,type)
values
(5,58,"B");


insert into responsible (employee_id,customer_id,type)
values
(3,59,"B");


insert into responsible (employee_id,customer_id,type)
values
(1,60,"B");


insert into responsible (employee_id,customer_id,type)
values
(0,61,"A");


insert into responsible (employee_id,customer_id,type)
values
(12,62,"B");


insert into responsible (employee_id,customer_id,type)
values
(2,63,"A");


insert into responsible (employee_id,customer_id,type)
values
(9,64,"B");


insert into responsible (employee_id,customer_id,type)
values
(0,65,"A");


insert into responsible (employee_id,customer_id,type)
values
(0,66,"B");


insert into responsible (employee_id,customer_id,type)
values
(5,67,"A");


insert into responsible (employee_id,customer_id,type)
values
(7,68,"B");


insert into responsible (employee_id,customer_id,type)
values
(4,69,"B");


insert into responsible (employee_id,customer_id,type)
values
(10,70,"A");


insert into responsible (employee_id,customer_id,type)
values
(11,71,"A");


insert into responsible (employee_id,customer_id,type)
values
(9,72,"B");


insert into responsible (employee_id,customer_id,type)
values
(0,73,"B");


insert into responsible (employee_id,customer_id,type)
values
(3,74,"B");


insert into responsible (employee_id,customer_id,type)
values
(8,75,"B");


insert into responsible (employee_id,customer_id,type)
values
(1,76,"A");


insert into responsible (employee_id,customer_id,type)
values
(8,77,"B");


insert into responsible (employee_id,customer_id,type)
values
(12,78,"B");


insert into responsible (employee_id,customer_id,type)
values
(2,79,"A");


insert into responsible (employee_id,customer_id,type)
values
(7,80,"A");


insert into responsible (employee_id,customer_id,type)
values
(7,81,"A");


insert into responsible (employee_id,customer_id,type)
values
(4,82,"B");


insert into responsible (employee_id,customer_id,type)
values
(1,83,"A");


insert into responsible (employee_id,customer_id,type)
values
(2,84,"B");


insert into responsible (employee_id,customer_id,type)
values
(1,85,"B");


insert into responsible (employee_id,customer_id,type)
values
(6,86,"B");


insert into responsible (employee_id,customer_id,type)
values
(0,87,"A");


insert into responsible (employee_id,customer_id,type)
values
(9,88,"A");


insert into responsible (employee_id,customer_id,type)
values
(10,89,"A");


insert into responsible (employee_id,customer_id,type)
values
(8,90,"B");


insert into responsible (employee_id,customer_id,type)
values
(5,91,"A");


insert into responsible (employee_id,customer_id,type)
values
(4,92,"B");


insert into responsible (employee_id,customer_id,type)
values
(9,93,"A");


insert into responsible (employee_id,customer_id,type)
values
(9,94,"A");


insert into responsible (employee_id,customer_id,type)
values
(4,95,"A");


insert into responsible (employee_id,customer_id,type)
values
(9,96,"A");


insert into responsible (employee_id,customer_id,type)
values
(4,97,"B");


insert into responsible (employee_id,customer_id,type)
values
(6,98,"A");


insert into responsible (employee_id,customer_id,type)
values
(2,99,"A");


insert into responsible (employee_id,customer_id,type)
values
(0,100,"A");


insert into responsible (employee_id,customer_id,type)
values
(6,101,"B");


insert into responsible (employee_id,customer_id,type)
values
(2,102,"B");


insert into responsible (employee_id,customer_id,type)
values
(7,103,"B");


insert into responsible (employee_id,customer_id,type)
values
(11,104,"A");


insert into responsible (employee_id,customer_id,type)
values
(10,105,"B");


insert into responsible (employee_id,customer_id,type)
values
(1,106,"A");


insert into responsible (employee_id,customer_id,type)
values
(3,107,"B");


insert into responsible (employee_id,customer_id,type)
values
(3,108,"B");


insert into responsible (employee_id,customer_id,type)
values
(2,109,"B");


insert into responsible (employee_id,customer_id,type)
values
(7,110,"B");


insert into responsible (employee_id,customer_id,type)
values
(5,111,"B");


insert into responsible (employee_id,customer_id,type)
values
(1,112,"B");


insert into responsible (employee_id,customer_id,type)
values
(8,113,"B");


insert into responsible (employee_id,customer_id,type)
values
(11,114,"B");


insert into responsible (employee_id,customer_id,type)
values
(9,115,"B");


insert into responsible (employee_id,customer_id,type)
values
(10,116,"A");


insert into responsible (employee_id,customer_id,type)
values
(5,117,"A");


insert into responsible (employee_id,customer_id,type)
values
(0,118,"A");


insert into responsible (employee_id,customer_id,type)
values
(4,119,"B");


insert into responsible (employee_id,customer_id,type)
values
(12,120,"A");


insert into responsible (employee_id,customer_id,type)
values
(7,121,"A");


insert into responsible (employee_id,customer_id,type)
values
(4,122,"B");


insert into responsible (employee_id,customer_id,type)
values
(2,123,"B");


insert into responsible (employee_id,customer_id,type)
values
(8,124,"A");


insert into responsible (employee_id,customer_id,type)
values
(2,125,"A");


insert into responsible (employee_id,customer_id,type)
values
(9,126,"A");


insert into responsible (employee_id,customer_id,type)
values
(6,127,"A");


insert into responsible (employee_id,customer_id,type)
values
(10,128,"A");


insert into responsible (employee_id,customer_id,type)
values
(8,129,"B");


insert into responsible (employee_id,customer_id,type)
values
(11,130,"A");


insert into responsible (employee_id,customer_id,type)
values
(3,131,"A");


insert into responsible (employee_id,customer_id,type)
values
(11,132,"A");

In [33]:
#saving_account
for i in range(customer_num):
    print("""
insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(%d,"%s",%d,"2019-%s-12 12:23:34",%f,"%s");
"""%(i,random.choice(branch_name),random.randint(0,100),random.choice(month),random.uniform(0,1),random.choice(["RMB","USD"])))

insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(0,"North_Bank",17,"2019-09-12 12:23:34",0.481020,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(1,"North_Bank",71,"2019-06-12 12:23:34",0.096273,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(2,"West_Bank",67,"2019-10-12 12:23:34",0.550384,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(3,"West_Bank",18,"2019-12-12 12:23:34",0.125388,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(4,"East_Bank",6,"2019-01-12 12:23:34",0.433916,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(5,"West_Bank",56,"2019-01-12 12:23:34",0.351568,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(6,"North_Bank",1,"2019-09-12 12:23:34",0.772848,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(7,"West_Bank",8,"2019-11-12 12:23:34",0.756825,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(8,"South_Bank",37,"2019-06-12 12:23:34",0.112045,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(9,"South_Bank",54,"2019-11-12 12:23:34",0.759233,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(10,"West_Bank",66,"2019-06-12 12:23:34",0.471265,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(11,"East_Bank",36,"2019-12-12 12:23:34",0.308666,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(12,"West_Bank",55,"2019-11-12 12:23:34",0.642683,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(13,"East_Bank",23,"2019-08-12 12:23:34",0.791417,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(14,"South_Bank",35,"2019-12-12 12:23:34",0.061925,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(15,"South_Bank",13,"2019-05-12 12:23:34",0.500796,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(16,"East_Bank",97,"2019-07-12 12:23:34",0.547882,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(17,"South_Bank",10,"2019-12-12 12:23:34",0.203780,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(18,"East_Bank",4,"2019-01-12 12:23:34",0.244013,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(19,"North_Bank",32,"2019-04-12 12:23:34",0.963107,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(20,"North_Bank",58,"2019-02-12 12:23:34",0.596533,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(21,"South_Bank",74,"2019-12-12 12:23:34",0.995373,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(22,"West_Bank",18,"2019-12-12 12:23:34",0.573762,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(23,"South_Bank",89,"2019-08-12 12:23:34",0.664655,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(24,"North_Bank",4,"2019-10-12 12:23:34",0.174344,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(25,"East_Bank",9,"2019-11-12 12:23:34",0.477532,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(26,"West_Bank",2,"2019-02-12 12:23:34",0.533665,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(27,"South_Bank",8,"2019-06-12 12:23:34",0.108951,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(28,"North_Bank",68,"2019-05-12 12:23:34",0.600461,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(29,"North_Bank",72,"2019-03-12 12:23:34",0.860855,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(30,"West_Bank",95,"2019-01-12 12:23:34",0.509725,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(31,"East_Bank",89,"2019-01-12 12:23:34",0.149296,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(32,"South_Bank",47,"2019-03-12 12:23:34",0.875682,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(33,"West_Bank",97,"2019-03-12 12:23:34",0.618991,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(34,"South_Bank",1,"2019-06-12 12:23:34",0.754134,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(35,"East_Bank",4,"2019-03-12 12:23:34",0.453248,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(36,"North_Bank",89,"2019-08-12 12:23:34",0.883698,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(37,"South_Bank",30,"2019-07-12 12:23:34",0.472931,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(38,"West_Bank",48,"2019-03-12 12:23:34",0.220190,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(39,"North_Bank",63,"2019-06-12 12:23:34",0.214242,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(40,"West_Bank",13,"2019-04-12 12:23:34",0.448396,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(41,"North_Bank",81,"2019-04-12 12:23:34",0.924708,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(42,"West_Bank",64,"2019-01-12 12:23:34",0.278852,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(43,"West_Bank",5,"2019-08-12 12:23:34",0.662294,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(44,"East_Bank",76,"2019-11-12 12:23:34",0.499402,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(45,"South_Bank",0,"2019-03-12 12:23:34",0.064947,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(46,"South_Bank",1,"2019-10-12 12:23:34",0.927460,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(47,"North_Bank",67,"2019-05-12 12:23:34",0.791166,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(48,"West_Bank",75,"2019-05-12 12:23:34",0.556131,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(49,"North_Bank",31,"2019-04-12 12:23:34",0.951775,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(50,"East_Bank",40,"2019-08-12 12:23:34",0.894985,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(51,"North_Bank",96,"2019-06-12 12:23:34",0.602569,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(52,"South_Bank",14,"2019-08-12 12:23:34",0.235282,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(53,"West_Bank",41,"2019-03-12 12:23:34",0.051184,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(54,"West_Bank",40,"2019-04-12 12:23:34",0.080016,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(55,"West_Bank",37,"2019-07-12 12:23:34",0.023060,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(56,"East_Bank",54,"2019-05-12 12:23:34",0.420834,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(57,"West_Bank",18,"2019-06-12 12:23:34",0.317360,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(58,"North_Bank",67,"2019-02-12 12:23:34",0.052403,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(59,"North_Bank",68,"2019-03-12 12:23:34",0.741129,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(60,"North_Bank",71,"2019-08-12 12:23:34",0.904785,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(61,"East_Bank",29,"2019-02-12 12:23:34",0.539490,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(62,"East_Bank",68,"2019-09-12 12:23:34",0.564844,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(63,"East_Bank",56,"2019-03-12 12:23:34",0.934957,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(64,"South_Bank",21,"2019-07-12 12:23:34",0.625920,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(65,"North_Bank",92,"2019-12-12 12:23:34",0.208114,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(66,"South_Bank",79,"2019-05-12 12:23:34",0.197983,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(67,"East_Bank",79,"2019-02-12 12:23:34",0.852798,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(68,"West_Bank",88,"2019-05-12 12:23:34",0.354096,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(69,"North_Bank",25,"2019-05-12 12:23:34",0.097392,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(70,"West_Bank",72,"2019-05-12 12:23:34",0.163128,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(71,"South_Bank",14,"2019-05-12 12:23:34",0.653607,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(72,"South_Bank",66,"2019-10-12 12:23:34",0.863996,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(73,"South_Bank",87,"2019-10-12 12:23:34",0.282452,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(74,"East_Bank",51,"2019-05-12 12:23:34",0.538817,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(75,"South_Bank",76,"2019-10-12 12:23:34",0.249381,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(76,"East_Bank",72,"2019-12-12 12:23:34",0.335178,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(77,"North_Bank",64,"2019-07-12 12:23:34",0.044006,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(78,"West_Bank",30,"2019-01-12 12:23:34",0.523158,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(79,"South_Bank",13,"2019-01-12 12:23:34",0.220362,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(80,"East_Bank",89,"2019-01-12 12:23:34",0.209763,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(81,"East_Bank",80,"2019-10-12 12:23:34",0.565111,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(82,"West_Bank",15,"2019-07-12 12:23:34",0.230850,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(83,"West_Bank",77,"2019-01-12 12:23:34",0.431579,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(84,"South_Bank",95,"2019-05-12 12:23:34",0.182533,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(85,"East_Bank",66,"2019-09-12 12:23:34",0.824060,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(86,"North_Bank",76,"2019-02-12 12:23:34",0.785245,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(87,"South_Bank",4,"2019-02-12 12:23:34",0.657569,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(88,"North_Bank",62,"2019-09-12 12:23:34",0.729021,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(89,"South_Bank",39,"2019-08-12 12:23:34",0.997286,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(90,"East_Bank",74,"2019-10-12 12:23:34",0.246972,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(91,"East_Bank",98,"2019-03-12 12:23:34",0.623532,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(92,"South_Bank",63,"2019-04-12 12:23:34",0.884592,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(93,"East_Bank",26,"2019-12-12 12:23:34",0.411944,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(94,"North_Bank",15,"2019-08-12 12:23:34",0.822078,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(95,"West_Bank",53,"2019-12-12 12:23:34",0.853326,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(96,"South_Bank",30,"2019-05-12 12:23:34",0.672107,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(97,"North_Bank",65,"2019-07-12 12:23:34",0.094079,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(98,"East_Bank",66,"2019-05-12 12:23:34",0.735858,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(99,"South_Bank",18,"2019-10-12 12:23:34",0.091595,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(100,"South_Bank",100,"2019-07-12 12:23:34",0.753247,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(101,"East_Bank",49,"2019-12-12 12:23:34",0.772364,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(102,"North_Bank",99,"2019-06-12 12:23:34",0.236777,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(103,"South_Bank",11,"2019-10-12 12:23:34",0.124120,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(104,"North_Bank",42,"2019-06-12 12:23:34",0.982602,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(105,"North_Bank",23,"2019-10-12 12:23:34",0.681343,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(106,"South_Bank",36,"2019-08-12 12:23:34",0.121262,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(107,"East_Bank",11,"2019-08-12 12:23:34",0.878320,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(108,"East_Bank",14,"2019-01-12 12:23:34",0.041792,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(109,"North_Bank",64,"2019-01-12 12:23:34",0.429528,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(110,"East_Bank",82,"2019-08-12 12:23:34",0.218039,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(111,"West_Bank",12,"2019-05-12 12:23:34",0.688958,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(112,"West_Bank",68,"2019-07-12 12:23:34",0.039138,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(113,"North_Bank",78,"2019-09-12 12:23:34",0.198639,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(114,"South_Bank",29,"2019-05-12 12:23:34",0.994713,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(115,"West_Bank",8,"2019-10-12 12:23:34",0.417355,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(116,"North_Bank",43,"2019-01-12 12:23:34",0.480676,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(117,"East_Bank",58,"2019-10-12 12:23:34",0.150587,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(118,"South_Bank",44,"2019-05-12 12:23:34",0.841359,"RMB");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values
(119,"South_Bank",40,"2019-07-12 12:23:34",0.501488,"USD");


insert into saving_account
(Account_id,branch_name,balance,open_date,interest_rate,currency_type)
values

In [34]:
#check_account
for i in range(customer_num):
    print("""
insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(%d,"%s",%d,"2019-%s-12 12:23:34",%d);
"""%(i+customer_num,random.choice(branch_name),random.randint(0,100),
     random.choice(month),random.randint(100,200)))

insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(133,"West_Bank",9,"2019-06-12 12:23:34",132);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(134,"West_Bank",82,"2019-08-12 12:23:34",176);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(135,"East_Bank",15,"2019-08-12 12:23:34",156);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(136,"South_Bank",43,"2019-10-12 12:23:34",188);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(137,"North_Bank",53,"2019-06-12 12:23:34",192);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(138,"East_Bank",37,"2019-02-12 12:23:34",104);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(139,"East_Bank",66,"2019-02-12 12:23:34",191);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(140,"East_Bank",75,"2019-02-12 12:23:34",168);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(141,"South_Bank",45,"2019-07-12 12:23:34",134);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(142,"South_Bank",2,"2019-07-12 12:23:34",107);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(143,"East_Bank",3,"2019-01-12 12:23:34",133);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(144,"West_Bank",32,"2019-04-12 12:23:34",110);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(145,"West_Bank",72,"2019-09-12 12:23:34",138);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(146,"East_Bank",53,"2019-06-12 12:23:34",185);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(147,"North_Bank",55,"2019-04-12 12:23:34",198);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(148,"East_Bank",68,"2019-03-12 12:23:34",158);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(149,"North_Bank",68,"2019-01-12 12:23:34",153);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(150,"West_Bank",80,"2019-11-12 12:23:34",175);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(151,"East_Bank",82,"2019-08-12 12:23:34",107);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(152,"East_Bank",88,"2019-10-12 12:23:34",119);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(153,"South_Bank",52,"2019-11-12 12:23:34",195);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(154,"South_Bank",40,"2019-01-12 12:23:34",198);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(155,"North_Bank",69,"2019-01-12 12:23:34",105);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(156,"South_Bank",61,"2019-05-12 12:23:34",114);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(157,"East_Bank",33,"2019-10-12 12:23:34",181);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(158,"East_Bank",41,"2019-09-12 12:23:34",200);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(159,"South_Bank",60,"2019-02-12 12:23:34",140);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(160,"North_Bank",53,"2019-04-12 12:23:34",170);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(161,"South_Bank",0,"2019-11-12 12:23:34",134);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(162,"East_Bank",38,"2019-04-12 12:23:34",157);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(163,"South_Bank",13,"2019-11-12 12:23:34",169);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(164,"West_Bank",40,"2019-04-12 12:23:34",139);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(165,"North_Bank",73,"2019-08-12 12:23:34",157);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(166,"East_Bank",49,"2019-08-12 12:23:34",134);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(167,"East_Bank",39,"2019-03-12 12:23:34",170);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(168,"West_Bank",63,"2019-12-12 12:23:34",127);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(169,"South_Bank",76,"2019-03-12 12:23:34",124);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(170,"East_Bank",67,"2019-05-12 12:23:34",193);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(171,"West_Bank",26,"2019-07-12 12:23:34",148);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(172,"East_Bank",60,"2019-06-12 12:23:34",153);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(173,"North_Bank",70,"2019-12-12 12:23:34",160);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(174,"East_Bank",71,"2019-05-12 12:23:34",103);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(175,"East_Bank",50,"2019-01-12 12:23:34",174);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(176,"South_Bank",88,"2019-10-12 12:23:34",189);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(177,"North_Bank",67,"2019-04-12 12:23:34",150);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(178,"West_Bank",16,"2019-01-12 12:23:34",115);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(179,"West_Bank",22,"2019-09-12 12:23:34",179);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(180,"West_Bank",84,"2019-07-12 12:23:34",142);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(181,"East_Bank",55,"2019-05-12 12:23:34",147);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(182,"West_Bank",36,"2019-08-12 12:23:34",121);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(183,"West_Bank",85,"2019-08-12 12:23:34",112);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(184,"East_Bank",17,"2019-08-12 12:23:34",159);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(185,"West_Bank",85,"2019-11-12 12:23:34",176);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(186,"South_Bank",79,"2019-02-12 12:23:34",117);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(187,"West_Bank",49,"2019-02-12 12:23:34",100);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(188,"West_Bank",71,"2019-11-12 12:23:34",140);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(189,"North_Bank",86,"2019-11-12 12:23:34",143);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(190,"East_Bank",25,"2019-12-12 12:23:34",193);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(191,"North_Bank",80,"2019-08-12 12:23:34",164);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(192,"West_Bank",30,"2019-02-12 12:23:34",158);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(193,"East_Bank",53,"2019-04-12 12:23:34",122);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(194,"West_Bank",79,"2019-08-12 12:23:34",150);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(195,"East_Bank",42,"2019-08-12 12:23:34",111);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(196,"East_Bank",98,"2019-10-12 12:23:34",173);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(197,"West_Bank",20,"2019-07-12 12:23:34",115);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(198,"West_Bank",54,"2019-04-12 12:23:34",101);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(199,"East_Bank",45,"2019-05-12 12:23:34",198);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(200,"West_Bank",91,"2019-10-12 12:23:34",146);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(201,"West_Bank",30,"2019-10-12 12:23:34",167);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(202,"East_Bank",52,"2019-03-12 12:23:34",104);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(203,"East_Bank",49,"2019-05-12 12:23:34",141);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(204,"East_Bank",4,"2019-06-12 12:23:34",165);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(205,"East_Bank",22,"2019-04-12 12:23:34",118);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(206,"East_Bank",65,"2019-08-12 12:23:34",121);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(207,"East_Bank",94,"2019-08-12 12:23:34",129);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(208,"East_Bank",29,"2019-10-12 12:23:34",111);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(209,"South_Bank",88,"2019-02-12 12:23:34",104);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(210,"East_Bank",47,"2019-06-12 12:23:34",126);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(211,"West_Bank",55,"2019-03-12 12:23:34",146);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(212,"West_Bank",47,"2019-07-12 12:23:34",184);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(213,"South_Bank",78,"2019-07-12 12:23:34",154);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(214,"East_Bank",45,"2019-09-12 12:23:34",154);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(215,"East_Bank",17,"2019-01-12 12:23:34",101);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(216,"West_Bank",91,"2019-11-12 12:23:34",123);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(217,"South_Bank",67,"2019-09-12 12:23:34",116);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(218,"South_Bank",22,"2019-03-12 12:23:34",165);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(219,"East_Bank",39,"2019-12-12 12:23:34",197);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(220,"South_Bank",19,"2019-05-12 12:23:34",115);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(221,"East_Bank",17,"2019-02-12 12:23:34",178);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(222,"South_Bank",73,"2019-03-12 12:23:34",140);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(223,"East_Bank",88,"2019-03-12 12:23:34",143);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(224,"South_Bank",91,"2019-03-12 12:23:34",179);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(225,"North_Bank",84,"2019-04-12 12:23:34",103);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(226,"North_Bank",22,"2019-05-12 12:23:34",155);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(227,"West_Bank",31,"2019-05-12 12:23:34",100);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(228,"East_Bank",73,"2019-04-12 12:23:34",154);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(229,"North_Bank",38,"2019-02-12 12:23:34",186);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(230,"South_Bank",86,"2019-09-12 12:23:34",186);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(231,"North_Bank",94,"2019-11-12 12:23:34",105);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(232,"North_Bank",1,"2019-11-12 12:23:34",115);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(233,"West_Bank",22,"2019-01-12 12:23:34",195);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(234,"North_Bank",10,"2019-04-12 12:23:34",138);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(235,"West_Bank",46,"2019-12-12 12:23:34",132);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(236,"South_Bank",24,"2019-11-12 12:23:34",165);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(237,"South_Bank",44,"2019-01-12 12:23:34",134);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(238,"South_Bank",43,"2019-02-12 12:23:34",107);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(239,"South_Bank",36,"2019-06-12 12:23:34",165);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(240,"South_Bank",84,"2019-10-12 12:23:34",186);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(241,"South_Bank",31,"2019-05-12 12:23:34",154);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(242,"West_Bank",52,"2019-02-12 12:23:34",128);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(243,"North_Bank",46,"2019-01-12 12:23:34",180);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(244,"West_Bank",93,"2019-10-12 12:23:34",155);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(245,"North_Bank",92,"2019-09-12 12:23:34",159);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(246,"East_Bank",28,"2019-07-12 12:23:34",101);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(247,"South_Bank",8,"2019-07-12 12:23:34",183);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(248,"South_Bank",16,"2019-01-12 12:23:34",188);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(249,"East_Bank",64,"2019-05-12 12:23:34",198);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(250,"North_Bank",2,"2019-01-12 12:23:34",152);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(251,"South_Bank",32,"2019-03-12 12:23:34",158);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(252,"South_Bank",48,"2019-04-12 12:23:34",137);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(253,"South_Bank",15,"2019-04-12 12:23:34",144);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(254,"North_Bank",44,"2019-11-12 12:23:34",154);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(255,"North_Bank",13,"2019-12-12 12:23:34",125);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(256,"West_Bank",90,"2019-07-12 12:23:34",183);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(257,"West_Bank",60,"2019-02-12 12:23:34",152);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(258,"West_Bank",67,"2019-05-12 12:23:34",144);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(259,"South_Bank",79,"2019-01-12 12:23:34",114);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(260,"East_Bank",75,"2019-12-12 12:23:34",152);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(261,"South_Bank",2,"2019-07-12 12:23:34",185);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(262,"West_Bank",78,"2019-05-12 12:23:34",189);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(263,"East_Bank",74,"2019-12-12 12:23:34",195);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(264,"West_Bank",53,"2019-12-12 12:23:34",117);


insert into check_account
(Account_id,branch_name,balance,open_date,overdraft)
values
(265,"North_Bank",96,"2019-01-12 12:23:34",176);

In [35]:
#depositor
for i in range(2*customer_num):
    print("""
insert into depositor
(Account_id,customer_id,access_date)
values
(%d,%d,"2019-%s-12 12:23:34");
"""%(i,customer_num-i%customer_num-1,random.choice(month)))

insert into depositor
(Account_id,customer_id,access_date)
values
(0,132,"2019-02-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(1,131,"2019-06-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(2,130,"2019-02-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(3,129,"2019-06-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(4,128,"2019-04-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(5,127,"2019-01-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(6,126,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(7,125,"2019-08-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(8,124,"2019-08-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(9,123,"2019-04-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(10,122,"2019-12-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(11,121,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(12,120,"2019-02-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(13,119,"2019-03-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(14,118,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(15,117,"2019-09-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(16,116,"2019-02-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(17,115,"2019-08-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(18,114,"2019-08-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(19,113,"2019-04-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(20,112,"2019-06-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(21,111,"2019-01-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(22,110,"2019-06-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(23,109,"2019-08-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(24,108,"2019-06-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(25,107,"2019-12-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(26,106,"2019-03-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(27,105,"2019-08-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(28,104,"2019-04-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(29,103,"2019-03-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(30,102,"2019-03-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(31,101,"2019-09-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(32,100,"2019-07-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(33,99,"2019-01-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(34,98,"2019-05-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(35,97,"2019-06-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(36,96,"2019-03-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(37,95,"2019-09-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(38,94,"2019-12-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(39,93,"2019-05-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(40,92,"2019-02-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(41,91,"2019-11-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(42,90,"2019-04-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(43,89,"2019-02-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(44,88,"2019-01-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(45,87,"2019-09-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(46,86,"2019-02-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(47,85,"2019-12-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(48,84,"2019-06-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(49,83,"2019-08-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(50,82,"2019-05-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(51,81,"2019-06-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(52,80,"2019-04-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(53,79,"2019-12-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(54,78,"2019-04-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(55,77,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(56,76,"2019-06-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(57,75,"2019-07-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(58,74,"2019-06-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(59,73,"2019-06-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(60,72,"2019-07-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(61,71,"2019-08-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(62,70,"2019-09-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(63,69,"2019-05-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(64,68,"2019-09-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(65,67,"2019-12-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(66,66,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(67,65,"2019-11-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(68,64,"2019-08-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(69,63,"2019-04-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(70,62,"2019-07-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(71,61,"2019-09-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(72,60,"2019-02-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(73,59,"2019-04-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(74,58,"2019-02-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(75,57,"2019-04-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(76,56,"2019-12-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(77,55,"2019-06-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(78,54,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(79,53,"2019-09-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(80,52,"2019-12-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(81,51,"2019-09-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(82,50,"2019-03-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(83,49,"2019-03-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(84,48,"2019-09-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(85,47,"2019-09-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(86,46,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(87,45,"2019-07-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(88,44,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(89,43,"2019-08-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(90,42,"2019-04-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(91,41,"2019-06-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(92,40,"2019-03-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(93,39,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(94,38,"2019-11-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(95,37,"2019-09-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(96,36,"2019-11-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(97,35,"2019-09-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(98,34,"2019-05-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(99,33,"2019-07-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(100,32,"2019-12-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(101,31,"2019-02-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(102,30,"2019-03-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(103,29,"2019-03-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(104,28,"2019-09-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(105,27,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(106,26,"2019-04-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(107,25,"2019-06-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(108,24,"2019-03-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(109,23,"2019-12-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(110,22,"2019-01-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(111,21,"2019-05-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(112,20,"2019-04-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(113,19,"2019-07-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(114,18,"2019-09-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(115,17,"2019-07-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(116,16,"2019-01-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(117,15,"2019-06-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(118,14,"2019-08-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(119,13,"2019-11-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(120,12,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(121,11,"2019-09-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(122,10,"2019-02-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(123,9,"2019-02-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(124,8,"2019-09-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(125,7,"2019-11-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(126,6,"2019-07-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(127,5,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(128,4,"2019-04-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(129,3,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(130,2,"2019-06-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(131,1,"2019-03-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(132,0,"2019-01-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(133,132,"2019-02-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(134,131,"2019-07-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(135,130,"2019-05-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(136,129,"2019-08-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(137,128,"2019-05-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(138,127,"2019-01-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(139,126,"2019-01-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(140,125,"2019-12-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(141,124,"2019-05-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(142,123,"2019-04-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(143,122,"2019-06-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(144,121,"2019-06-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(145,120,"2019-07-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(146,119,"2019-05-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(147,118,"2019-05-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(148,117,"2019-08-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(149,116,"2019-11-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(150,115,"2019-02-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(151,114,"2019-01-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(152,113,"2019-02-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(153,112,"2019-01-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(154,111,"2019-11-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(155,110,"2019-11-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(156,109,"2019-07-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(157,108,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(158,107,"2019-07-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(159,106,"2019-07-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(160,105,"2019-04-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(161,104,"2019-07-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(162,103,"2019-07-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(163,102,"2019-12-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(164,101,"2019-08-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(165,100,"2019-12-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(166,99,"2019-03-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(167,98,"2019-12-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(168,97,"2019-08-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(169,96,"2019-06-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(170,95,"2019-03-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(171,94,"2019-01-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(172,93,"2019-02-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(173,92,"2019-01-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(174,91,"2019-02-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(175,90,"2019-09-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(176,89,"2019-04-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(177,88,"2019-01-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(178,87,"2019-05-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(179,86,"2019-07-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(180,85,"2019-09-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(181,84,"2019-03-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(182,83,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(183,82,"2019-09-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(184,81,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(185,80,"2019-06-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(186,79,"2019-02-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(187,78,"2019-04-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(188,77,"2019-08-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(189,76,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(190,75,"2019-04-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(191,74,"2019-11-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(192,73,"2019-12-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(193,72,"2019-03-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(194,71,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(195,70,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(196,69,"2019-05-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(197,68,"2019-10-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(198,67,"2019-12-12 12:23:34");


insert into depositor
(Account_id,customer_id,access_date)
values
(199,66,"2019-09-12 12:23:34");


insert into depositor

In [36]:
#loan
for i in range(customer_num):
    print("""
insert into loan(loan_id,branch_name,amount)
values
(%d,"%s",%d);
"""%(i,random.choice(branch_name),random.randint(100,150)))

insert into loan(loan_id,branch_name,amount)
values
(0,"West_Bank",114);


insert into loan(loan_id,branch_name,amount)
values
(1,"West_Bank",128);


insert into loan(loan_id,branch_name,amount)
values
(2,"North_Bank",105);


insert into loan(loan_id,branch_name,amount)
values
(3,"West_Bank",128);


insert into loan(loan_id,branch_name,amount)
values
(4,"West_Bank",147);


insert into loan(loan_id,branch_name,amount)
values
(5,"East_Bank",127);


insert into loan(loan_id,branch_name,amount)
values
(6,"South_Bank",117);


insert into loan(loan_id,branch_name,amount)
values
(7,"West_Bank",143);


insert into loan(loan_id,branch_name,amount)
values
(8,"West_Bank",129);


insert into loan(loan_id,branch_name,amount)
values
(9,"East_Bank",111);


insert into loan(loan_id,branch_name,amount)
values
(10,"South_Bank",148);


insert into loan(loan_id,branch_name,amount)
values
(11,"East_Bank",101);


insert into loan(loan_id,branch_name,amount)
values
(12,"South_Bank",145);


insert into loan(loan_id,branch_name,amount)
values
(13,"East_Bank",105);


insert into loan(loan_id,branch_name,amount)
values
(14,"South_Bank",127);


insert into loan(loan_id,branch_name,amount)
values
(15,"North_Bank",101);


insert into loan(loan_id,branch_name,amount)
values
(16,"West_Bank",126);


insert into loan(loan_id,branch_name,amount)
values
(17,"West_Bank",114);


insert into loan(loan_id,branch_name,amount)
values
(18,"East_Bank",109);


insert into loan(loan_id,branch_name,amount)
values
(19,"North_Bank",111);


insert into loan(loan_id,branch_name,amount)
values
(20,"East_Bank",141);


insert into loan(loan_id,branch_name,amount)
values
(21,"South_Bank",113);


insert into loan(loan_id,branch_name,amount)
values
(22,"North_Bank",147);


insert into loan(loan_id,branch_name,amount)
values
(23,"East_Bank",126);


insert into loan(loan_id,branch_name,amount)
values
(24,"South_Bank",119);


insert into loan(loan_id,branch_name,amount)
values
(25,"South_Bank",145);


insert into loan(loan_id,branch_name,amount)
values
(26,"East_Bank",115);


insert into loan(loan_id,branch_name,amount)
values
(27,"West_Bank",137);


insert into loan(loan_id,branch_name,amount)
values
(28,"North_Bank",113);


insert into loan(loan_id,branch_name,amount)
values
(29,"South_Bank",111);


insert into loan(loan_id,branch_name,amount)
values
(30,"East_Bank",126);


insert into loan(loan_id,branch_name,amount)
values
(31,"North_Bank",124);


insert into loan(loan_id,branch_name,amount)
values
(32,"East_Bank",134);


insert into loan(loan_id,branch_name,amount)
values
(33,"North_Bank",114);


insert into loan(loan_id,branch_name,amount)
values
(34,"East_Bank",149);


insert into loan(loan_id,branch_name,amount)
values
(35,"South_Bank",121);


insert into loan(loan_id,branch_name,amount)
values
(36,"South_Bank",138);


insert into loan(loan_id,branch_name,amount)
values
(37,"North_Bank",123);


insert into loan(loan_id,branch_name,amount)
values
(38,"South_Bank",146);


insert into loan(loan_id,branch_name,amount)
values
(39,"South_Bank",138);


insert into loan(loan_id,branch_name,amount)
values
(40,"East_Bank",116);


insert into loan(loan_id,branch_name,amount)
values
(41,"North_Bank",143);


insert into loan(loan_id,branch_name,amount)
values
(42,"South_Bank",101);


insert into loan(loan_id,branch_name,amount)
values
(43,"North_Bank",107);


insert into loan(loan_id,branch_name,amount)
values
(44,"East_Bank",113);


insert into loan(loan_id,branch_name,amount)
values
(45,"West_Bank",124);


insert into loan(loan_id,branch_name,amount)
values
(46,"North_Bank",101);


insert into loan(loan_id,branch_name,amount)
values
(47,"East_Bank",150);


insert into loan(loan_id,branch_name,amount)
values
(48,"North_Bank",134);


insert into loan(loan_id,branch_name,amount)
values
(49,"East_Bank",139);


insert into loan(loan_id,branch_name,amount)
values
(50,"East_Bank",116);


insert into loan(loan_id,branch_name,amount)
values
(51,"South_Bank",109);


insert into loan(loan_id,branch_name,amount)
values
(52,"South_Bank",119);


insert into loan(loan_id,branch_name,amount)
values
(53,"South_Bank",135);


insert into loan(loan_id,branch_name,amount)
values
(54,"South_Bank",128);


insert into loan(loan_id,branch_name,amount)
values
(55,"East_Bank",127);


insert into loan(loan_id,branch_name,amount)
values
(56,"West_Bank",137);


insert into loan(loan_id,branch_name,amount)
values
(57,"South_Bank",122);


insert into loan(loan_id,branch_name,amount)
values
(58,"South_Bank",139);


insert into loan(loan_id,branch_name,amount)
values
(59,"North_Bank",114);


insert into loan(loan_id,branch_name,amount)
values
(60,"East_Bank",125);


insert into loan(loan_id,branch_name,amount)
values
(61,"East_Bank",106);


insert into loan(loan_id,branch_name,amount)
values
(62,"South_Bank",109);


insert into loan(loan_id,branch_name,amount)
values
(63,"North_Bank",135);


insert into loan(loan_id,branch_name,amount)
values
(64,"East_Bank",137);


insert into loan(loan_id,branch_name,amount)
values
(65,"East_Bank",145);


insert into loan(loan_id,branch_name,amount)
values
(66,"North_Bank",149);


insert into loan(loan_id,branch_name,amount)
values
(67,"North_Bank",142);


insert into loan(loan_id,branch_name,amount)
values
(68,"North_Bank",100);


insert into loan(loan_id,branch_name,amount)
values
(69,"East_Bank",117);


insert into loan(loan_id,branch_name,amount)
values
(70,"South_Bank",113);


insert into loan(loan_id,branch_name,amount)
values
(71,"North_Bank",149);


insert into loan(loan_id,branch_name,amount)
values
(72,"East_Bank",130);


insert into loan(loan_id,branch_name,amount)
values
(73,"West_Bank",126);


insert into loan(loan_id,branch_name,amount)
values
(74,"East_Bank",145);


insert into loan(loan_id,branch_name,amount)
values
(75,"North_Bank",105);


insert into loan(loan_id,branch_name,amount)
values
(76,"North_Bank",123);


insert into loan(loan_id,branch_name,amount)
values
(77,"West_Bank",115);


insert into loan(loan_id,branch_name,amount)
values
(78,"East_Bank",101);


insert into loan(loan_id,branch_name,amount)
values
(79,"North_Bank",107);


insert into loan(loan_id,branch_name,amount)
values
(80,"South_Bank",128);


insert into loan(loan_id,branch_name,amount)
values
(81,"East_Bank",149);


insert into loan(loan_id,branch_name,amount)
values
(82,"North_Bank",139);


insert into loan(loan_id,branch_name,amount)
values
(83,"South_Bank",135);


insert into loan(loan_id,branch_name,amount)
values
(84,"West_Bank",122);


insert into loan(loan_id,branch_name,amount)
values
(85,"East_Bank",123);


insert into loan(loan_id,branch_name,amount)
values
(86,"South_Bank",131);


insert into loan(loan_id,branch_name,amount)
values
(87,"West_Bank",133);


insert into loan(loan_id,branch_name,amount)
values
(88,"South_Bank",104);


insert into loan(loan_id,branch_name,amount)
values
(89,"South_Bank",139);


insert into loan(loan_id,branch_name,amount)
values
(90,"East_Bank",121);


insert into loan(loan_id,branch_name,amount)
values
(91,"West_Bank",108);


insert into loan(loan_id,branch_name,amount)
values
(92,"West_Bank",141);


insert into loan(loan_id,branch_name,amount)
values
(93,"East_Bank",104);


insert into loan(loan_id,branch_name,amount)
values
(94,"South_Bank",118);


insert into loan(loan_id,branch_name,amount)
values
(95,"West_Bank",119);


insert into loan(loan_id,branch_name,amount)
values
(96,"North_Bank",132);


insert into loan(loan_id,branch_name,amount)
values
(97,"North_Bank",124);


insert into loan(loan_id,branch_name,amount)
values
(98,"North_Bank",142);


insert into loan(loan_id,branch_name,amount)
values
(99,"West_Bank",101);


insert into loan(loan_id,branch_name,amount)
values
(100,"East_Bank",114);


insert into loan(loan_id,branch_name,amount)
values
(101,"North_Bank",149);


insert into loan(loan_id,branch_name,amount)
values
(102,"West_Bank",107);


insert into loan(loan_id,branch_name,amount)
values
(103,"West_Bank",146);


insert into loan(loan_id,branch_name,amount)
values
(104,"East_Bank",133);


insert into loan(loan_id,branch_name,amount)
values
(105,"East_Bank",138);


insert into loan(loan_id,branch_name,amount)
values
(106,"South_Bank",136);


insert into loan(loan_id,branch_name,amount)
values
(107,"North_Bank",141);


insert into loan(loan_id,branch_name,amount)
values
(108,"North_Bank",112);


insert into loan(loan_id,branch_name,amount)
values
(109,"East_Bank",131);


insert into loan(loan_id,branch_name,amount)
values
(110,"East_Bank",118);


insert into loan(loan_id,branch_name,amount)
values
(111,"East_Bank",137);


insert into loan(loan_id,branch_name,amount)
values
(112,"West_Bank",124);


insert into loan(loan_id,branch_name,amount)
values
(113,"East_Bank",103);


insert into loan(loan_id,branch_name,amount)
values
(114,"West_Bank",143);


insert into loan(loan_id,branch_name,amount)
values
(115,"South_Bank",128);


insert into loan(loan_id,branch_name,amount)
values
(116,"East_Bank",150);


insert into loan(loan_id,branch_name,amount)
values
(117,"North_Bank",121);


insert into loan(loan_id,branch_name,amount)
values
(118,"North_Bank",131);


insert into loan(loan_id,branch_name,amount)
values
(119,"East_Bank",146);


insert into loan(loan_id,branch_name,amount)
values
(120,"East_Bank",138);


insert into loan(loan_id,branch_name,amount)
values
(121,"West_Bank",120);


insert into loan(loan_id,branch_name,amount)
values
(122,"East_Bank",114);


insert into loan(loan_id,branch_name,amount)
values
(123,"West_Bank",136);


insert into loan(loan_id,branch_name,amount)
values
(124,"East_Bank",116);


insert into loan(loan_id,branch_name,amount)
values
(125,"South_Bank",109);


insert into loan(loan_id,branch_name,amount)
values
(126,"North_Bank",124);


insert into loan(loan_id,branch_name,amount)
values
(127,"East_Bank",145);


insert into loan(loan_id,branch_name,amount)
values
(128,"North_Bank",115);


insert into loan(loan_id,branch_name,amount)
values
(129,"East_Bank",132);


insert into loan(loan_id,branch_name,amount)
values
(130,"North_Bank",115);


insert into loan(loan_id,branch_name,amount)
values
(131,"West_Bank",113);


insert into loan(loan_id,branch_name,amount)
values
(132,"West_Bank",119);

In [37]:
#payment
for i in range(2*customer_num):
    print("""
insert into payment
(loan_id,payment_id,payment_date,amount)
values
(%d,%d,"2019-%s-12 12:23:34",%d);
"""%(i%customer_num,i,random.choice(month),random.randint(0,20)))

insert into payment
(loan_id,payment_id,payment_date,amount)
values
(0,0,"2019-05-12 12:23:34",12);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(1,1,"2019-07-12 12:23:34",4);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(2,2,"2019-06-12 12:23:34",20);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(3,3,"2019-03-12 12:23:34",20);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(4,4,"2019-06-12 12:23:34",4);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(5,5,"2019-06-12 12:23:34",16);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(6,6,"2019-07-12 12:23:34",11);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(7,7,"2019-07-12 12:23:34",17);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(8,8,"2019-06-12 12:23:34",9);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(9,9,"2019-01-12 12:23:34",0);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(10,10,"2019-10-12 12:23:34",18);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(11,11,"2019-04-12 12:23:34",19);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(12,12,"2019-03-12 12:23:34",2);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(13,13,"2019-01-12 12:23:34",16);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(14,14,"2019-05-12 12:23:34",1);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(15,15,"2019-06-12 12:23:34",12);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(16,16,"2019-08-12 12:23:34",5);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(17,17,"2019-05-12 12:23:34",12);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(18,18,"2019-06-12 12:23:34",0);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(19,19,"2019-02-12 12:23:34",11);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(20,20,"2019-06-12 12:23:34",1);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(21,21,"2019-01-12 12:23:34",13);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(22,22,"2019-12-12 12:23:34",16);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(23,23,"2019-09-12 12:23:34",16);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(24,24,"2019-09-12 12:23:34",8);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(25,25,"2019-03-12 12:23:34",2);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(26,26,"2019-08-12 12:23:34",9);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(27,27,"2019-02-12 12:23:34",4);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(28,28,"2019-04-12 12:23:34",2);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(29,29,"2019-06-12 12:23:34",2);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(30,30,"2019-03-12 12:23:34",4);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(31,31,"2019-12-12 12:23:34",6);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(32,32,"2019-03-12 12:23:34",17);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(33,33,"2019-07-12 12:23:34",13);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(34,34,"2019-08-12 12:23:34",10);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(35,35,"2019-04-12 12:23:34",7);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(36,36,"2019-07-12 12:23:34",10);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(37,37,"2019-12-12 12:23:34",20);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(38,38,"2019-05-12 12:23:34",1);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(39,39,"2019-11-12 12:23:34",14);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(40,40,"2019-11-12 12:23:34",18);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(41,41,"2019-07-12 12:23:34",8);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(42,42,"2019-07-12 12:23:34",7);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(43,43,"2019-03-12 12:23:34",9);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(44,44,"2019-06-12 12:23:34",16);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(45,45,"2019-03-12 12:23:34",2);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(46,46,"2019-03-12 12:23:34",13);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(47,47,"2019-10-12 12:23:34",13);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(48,48,"2019-10-12 12:23:34",0);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(49,49,"2019-05-12 12:23:34",14);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(50,50,"2019-06-12 12:23:34",15);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(51,51,"2019-08-12 12:23:34",18);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(52,52,"2019-11-12 12:23:34",5);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(53,53,"2019-01-12 12:23:34",12);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(54,54,"2019-04-12 12:23:34",11);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(55,55,"2019-06-12 12:23:34",8);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(56,56,"2019-03-12 12:23:34",6);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(57,57,"2019-02-12 12:23:34",4);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(58,58,"2019-09-12 12:23:34",19);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(59,59,"2019-12-12 12:23:34",5);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(60,60,"2019-07-12 12:23:34",7);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(61,61,"2019-05-12 12:23:34",9);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(62,62,"2019-01-12 12:23:34",18);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(63,63,"2019-06-12 12:23:34",6);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(64,64,"2019-02-12 12:23:34",8);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(65,65,"2019-06-12 12:23:34",9);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(66,66,"2019-04-12 12:23:34",0);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(67,67,"2019-04-12 12:23:34",5);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(68,68,"2019-12-12 12:23:34",5);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(69,69,"2019-07-12 12:23:34",11);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(70,70,"2019-12-12 12:23:34",1);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(71,71,"2019-10-12 12:23:34",1);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(72,72,"2019-10-12 12:23:34",0);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(73,73,"2019-11-12 12:23:34",11);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(74,74,"2019-11-12 12:23:34",15);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(75,75,"2019-10-12 12:23:34",5);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(76,76,"2019-01-12 12:23:34",18);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(77,77,"2019-06-12 12:23:34",9);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(78,78,"2019-06-12 12:23:34",3);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(79,79,"2019-10-12 12:23:34",8);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(80,80,"2019-02-12 12:23:34",20);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(81,81,"2019-10-12 12:23:34",15);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(82,82,"2019-03-12 12:23:34",16);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(83,83,"2019-06-12 12:23:34",12);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(84,84,"2019-08-12 12:23:34",18);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(85,85,"2019-08-12 12:23:34",8);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(86,86,"2019-11-12 12:23:34",11);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(87,87,"2019-06-12 12:23:34",11);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(88,88,"2019-07-12 12:23:34",2);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(89,89,"2019-09-12 12:23:34",13);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(90,90,"2019-06-12 12:23:34",15);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(91,91,"2019-03-12 12:23:34",11);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(92,92,"2019-09-12 12:23:34",0);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(93,93,"2019-04-12 12:23:34",9);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(94,94,"2019-07-12 12:23:34",17);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(95,95,"2019-10-12 12:23:34",0);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(96,96,"2019-05-12 12:23:34",10);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(97,97,"2019-03-12 12:23:34",5);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(98,98,"2019-07-12 12:23:34",3);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(99,99,"2019-07-12 12:23:34",7);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(100,100,"2019-06-12 12:23:34",1);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(101,101,"2019-04-12 12:23:34",0);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(102,102,"2019-03-12 12:23:34",15);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(103,103,"2019-02-12 12:23:34",16);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(104,104,"2019-10-12 12:23:34",10);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(105,105,"2019-11-12 12:23:34",12);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(106,106,"2019-06-12 12:23:34",4);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(107,107,"2019-07-12 12:23:34",13);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(108,108,"2019-05-12 12:23:34",12);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(109,109,"2019-01-12 12:23:34",9);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(110,110,"2019-09-12 12:23:34",3);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(111,111,"2019-02-12 12:23:34",15);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(112,112,"2019-10-12 12:23:34",18);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(113,113,"2019-05-12 12:23:34",6);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(114,114,"2019-01-12 12:23:34",20);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(115,115,"2019-12-12 12:23:34",8);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(116,116,"2019-12-12 12:23:34",5);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(117,117,"2019-11-12 12:23:34",13);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(118,118,"2019-07-12 12:23:34",16);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(119,119,"2019-03-12 12:23:34",12);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(120,120,"2019-10-12 12:23:34",5);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(121,121,"2019-12-12 12:23:34",15);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(122,122,"2019-09-12 12:23:34",0);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(123,123,"2019-09-12 12:23:34",20);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(124,124,"2019-02-12 12:23:34",16);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(125,125,"2019-09-12 12:23:34",11);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(126,126,"2019-12-12 12:23:34",5);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(127,127,"2019-03-12 12:23:34",8);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(128,128,"2019-02-12 12:23:34",9);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(129,129,"2019-11-12 12:23:34",14);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(130,130,"2019-02-12 12:23:34",18);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(131,131,"2019-01-12 12:23:34",6);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(132,132,"2019-07-12 12:23:34",12);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(0,133,"2019-07-12 12:23:34",2);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(1,134,"2019-09-12 12:23:34",14);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(2,135,"2019-12-12 12:23:34",3);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(3,136,"2019-04-12 12:23:34",0);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(4,137,"2019-05-12 12:23:34",6);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(5,138,"2019-01-12 12:23:34",6);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(6,139,"2019-01-12 12:23:34",18);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(7,140,"2019-08-12 12:23:34",4);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(8,141,"2019-03-12 12:23:34",10);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(9,142,"2019-01-12 12:23:34",3);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(10,143,"2019-01-12 12:23:34",4);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(11,144,"2019-03-12 12:23:34",12);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(12,145,"2019-02-12 12:23:34",1);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(13,146,"2019-07-12 12:23:34",18);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(14,147,"2019-06-12 12:23:34",9);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(15,148,"2019-06-12 12:23:34",19);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(16,149,"2019-03-12 12:23:34",15);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(17,150,"2019-01-12 12:23:34",11);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(18,151,"2019-01-12 12:23:34",13);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(19,152,"2019-08-12 12:23:34",13);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(20,153,"2019-01-12 12:23:34",4);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(21,154,"2019-04-12 12:23:34",2);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(22,155,"2019-02-12 12:23:34",2);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(23,156,"2019-02-12 12:23:34",7);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(24,157,"2019-11-12 12:23:34",1);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(25,158,"2019-09-12 12:23:34",2);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(26,159,"2019-09-12 12:23:34",20);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(27,160,"2019-08-12 12:23:34",2);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(28,161,"2019-01-12 12:23:34",3);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(29,162,"2019-07-12 12:23:34",20);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(30,163,"2019-08-12 12:23:34",8);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(31,164,"2019-06-12 12:23:34",14);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(32,165,"2019-09-12 12:23:34",17);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(33,166,"2019-03-12 12:23:34",16);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(34,167,"2019-04-12 12:23:34",16);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(35,168,"2019-04-12 12:23:34",14);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(36,169,"2019-08-12 12:23:34",20);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(37,170,"2019-06-12 12:23:34",15);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(38,171,"2019-10-12 12:23:34",9);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(39,172,"2019-12-12 12:23:34",6);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(40,173,"2019-06-12 12:23:34",2);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(41,174,"2019-05-12 12:23:34",20);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(42,175,"2019-09-12 12:23:34",13);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(43,176,"2019-02-12 12:23:34",17);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(44,177,"2019-03-12 12:23:34",18);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(45,178,"2019-02-12 12:23:34",0);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(46,179,"2019-11-12 12:23:34",4);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(47,180,"2019-06-12 12:23:34",16);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(48,181,"2019-02-12 12:23:34",13);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(49,182,"2019-08-12 12:23:34",16);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(50,183,"2019-07-12 12:23:34",14);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(51,184,"2019-06-12 12:23:34",13);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(52,185,"2019-03-12 12:23:34",9);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(53,186,"2019-09-12 12:23:34",7);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(54,187,"2019-03-12 12:23:34",0);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(55,188,"2019-01-12 12:23:34",2);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(56,189,"2019-03-12 12:23:34",15);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(57,190,"2019-01-12 12:23:34",6);


insert into payment
(loan_id,payment_id,payment_date,amount)
values
(58,191,"2019-04-12 12:23:34",8);


insert into payment

In [38]:
#borrow
for i in range(customer_num):
    print("""
insert into borrow(customer_id,loan_id)
values
(%d,%d);
"""%(i,customer_num-1-i))

insert into borrow(customer_id,loan_id)
values
(0,132);


insert into borrow(customer_id,loan_id)
values
(1,131);


insert into borrow(customer_id,loan_id)
values
(2,130);


insert into borrow(customer_id,loan_id)
values
(3,129);


insert into borrow(customer_id,loan_id)
values
(4,128);


insert into borrow(customer_id,loan_id)
values
(5,127);


insert into borrow(customer_id,loan_id)
values
(6,126);


insert into borrow(customer_id,loan_id)
values
(7,125);


insert into borrow(customer_id,loan_id)
values
(8,124);


insert into borrow(customer_id,loan_id)
values
(9,123);


insert into borrow(customer_id,loan_id)
values
(10,122);


insert into borrow(customer_id,loan_id)
values
(11,121);


insert into borrow(customer_id,loan_id)
values
(12,120);


insert into borrow(customer_id,loan_id)
values
(13,119);


insert into borrow(customer_id,loan_id)
values
(14,118);


insert into borrow(customer_id,loan_id)
values
(15,117);


insert into borrow(customer_id,loan_id)
values
(16,116);


insert into borrow(customer_id,loan_id)
values
(17,115);


insert into borrow(customer_id,loan_id)
values
(18,114);


insert into borrow(customer_id,loan_id)
values
(19,113);


insert into borrow(customer_id,loan_id)
values
(20,112);


insert into borrow(customer_id,loan_id)
values
(21,111);


insert into borrow(customer_id,loan_id)
values
(22,110);


insert into borrow(customer_id,loan_id)
values
(23,109);


insert into borrow(customer_id,loan_id)
values
(24,108);


insert into borrow(customer_id,loan_id)
values
(25,107);


insert into borrow(customer_id,loan_id)
values
(26,106);


insert into borrow(customer_id,loan_id)
values
(27,105);


insert into borrow(customer_id,loan_id)
values
(28,104);


insert into borrow(customer_id,loan_id)
values
(29,103);


insert into borrow(customer_id,loan_id)
values
(30,102);


insert into borrow(customer_id,loan_id)
values
(31,101);


insert into borrow(customer_id,loan_id)
values
(32,100);


insert into borrow(customer_id,loan_id)
values
(33,99);


insert into borrow(customer_id,loan_id)
values
(34,98);


insert into borrow(customer_id,loan_id)
values
(35,97);


insert into borrow(customer_id,loan_id)
values
(36,96);


insert into borrow(customer_id,loan_id)
values
(37,95);


insert into borrow(customer_id,loan_id)
values
(38,94);


insert into borrow(customer_id,loan_id)
values
(39,93);


insert into borrow(customer_id,loan_id)
values
(40,92);


insert into borrow(customer_id,loan_id)
values
(41,91);


insert into borrow(customer_id,loan_id)
values
(42,90);


insert into borrow(customer_id,loan_id)
values
(43,89);


insert into borrow(customer_id,loan_id)
values
(44,88);


insert into borrow(customer_id,loan_id)
values
(45,87);


insert into borrow(customer_id,loan_id)
values
(46,86);


insert into borrow(customer_id,loan_id)
values
(47,85);


insert into borrow(customer_id,loan_id)
values
(48,84);


insert into borrow(customer_id,loan_id)
values
(49,83);


insert into borrow(customer_id,loan_id)
values
(50,82);


insert into borrow(customer_id,loan_id)
values
(51,81);


insert into borrow(customer_id,loan_id)
values
(52,80);


insert into borrow(customer_id,loan_id)
values
(53,79);


insert into borrow(customer_id,loan_id)
values
(54,78);


insert into borrow(customer_id,loan_id)
values
(55,77);


insert into borrow(customer_id,loan_id)
values
(56,76);


insert into borrow(customer_id,loan_id)
values
(57,75);


insert into borrow(customer_id,loan_id)
values
(58,74);


insert into borrow(customer_id,loan_id)
values
(59,73);


insert into borrow(customer_id,loan_id)
values
(60,72);


insert into borrow(customer_id,loan_id)
values
(61,71);


insert into borrow(customer_id,loan_id)
values
(62,70);


insert into borrow(customer_id,loan_id)
values
(63,69);


insert into borrow(customer_id,loan_id)
values
(64,68);


insert into borrow(customer_id,loan_id)
values
(65,67);


insert into borrow(customer_id,loan_id)
values
(66,66);


insert into borrow(customer_id,loan_id)
values
(67,65);


insert into borrow(customer_id,loan_id)
values
(68,64);


insert into borrow(customer_id,loan_id)
values
(69,63);


insert into borrow(customer_id,loan_id)
values
(70,62);


insert into borrow(customer_id,loan_id)
values
(71,61);


insert into borrow(customer_id,loan_id)
values
(72,60);


insert into borrow(customer_id,loan_id)
values
(73,59);


insert into borrow(customer_id,loan_id)
values
(74,58);


insert into borrow(customer_id,loan_id)
values
(75,57);


insert into borrow(customer_id,loan_id)
values
(76,56);


insert into borrow(customer_id,loan_id)
values
(77,55);


insert into borrow(customer_id,loan_id)
values
(78,54);


insert into borrow(customer_id,loan_id)
values
(79,53);


insert into borrow(customer_id,loan_id)
values
(80,52);


insert into borrow(customer_id,loan_id)
values
(81,51);


insert into borrow(customer_id,loan_id)
values
(82,50);


insert into borrow(customer_id,loan_id)
values
(83,49);


insert into borrow(customer_id,loan_id)
values
(84,48);


insert into borrow(customer_id,loan_id)
values
(85,47);


insert into borrow(customer_id,loan_id)
values
(86,46);


insert into borrow(customer_id,loan_id)
values
(87,45);


insert into borrow(customer_id,loan_id)
values
(88,44);


insert into borrow(customer_id,loan_id)
values
(89,43);


insert into borrow(customer_id,loan_id)
values
(90,42);


insert into borrow(customer_id,loan_id)
values
(91,41);


insert into borrow(customer_id,loan_id)
values
(92,40);


insert into borrow(customer_id,loan_id)
values
(93,39);


insert into borrow(customer_id,loan_id)
values
(94,38);


insert into borrow(customer_id,loan_id)
values
(95,37);


insert into borrow(customer_id,loan_id)
values
(96,36);


insert into borrow(customer_id,loan_id)
values
(97,35);


insert into borrow(customer_id,loan_id)
values
(98,34);


insert into borrow(customer_id,loan_id)
values
(99,33);


insert into borrow(customer_id,loan_id)
values
(100,32);


insert into borrow(customer_id,loan_id)
values
(101,31);


insert into borrow(customer_id,loan_id)
values
(102,30);


insert into borrow(customer_id,loan_id)
values
(103,29);


insert into borrow(customer_id,loan_id)
values
(104,28);


insert into borrow(customer_id,loan_id)
values
(105,27);


insert into borrow(customer_id,loan_id)
values
(106,26);


insert into borrow(customer_id,loan_id)
values
(107,25);


insert into borrow(customer_id,loan_id)
values
(108,24);


insert into borrow(customer_id,loan_id)
values
(109,23);


insert into borrow(customer_id,loan_id)
values
(110,22);


insert into borrow(customer_id,loan_id)
values
(111,21);


insert into borrow(customer_id,loan_id)
values
(112,20);


insert into borrow(customer_id,loan_id)
values
(113,19);


insert into borrow(customer_id,loan_id)
values
(114,18);


insert into borrow(customer_id,loan_id)
values
(115,17);


insert into borrow(customer_id,loan_id)
values
(116,16);


insert into borrow(customer_id,loan_id)
values
(117,15);


insert into borrow(customer_id,loan_id)
values
(118,14);


insert into borrow(customer_id,loan_id)
values
(119,13);


insert into borrow(customer_id,loan_id)
values
(120,12);


insert into borrow(customer_id,loan_id)
values
(121,11);


insert into borrow(customer_id,loan_id)
values
(122,10);


insert into borrow(customer_id,loan_id)
values
(123,9);


insert into borrow(customer_id,loan_id)
values
(124,8);


insert into borrow(customer_id,loan_id)
values
(125,7);


insert into borrow(customer_id,loan_id)
values
(126,6);


insert into borrow(customer_id,loan_id)
values
(127,5);


insert into borrow(customer_id,loan_id)
values
(128,4);


insert into borrow(customer_id,loan_id)
values
(129,3);


insert into borrow(customer_id,loan_id)
values
(130,2);


insert into borrow(customer_id,loan_id)
values
(131,1);


insert into borrow(customer_id,loan_id)
values
(132,0);

In [39]:
for i,s in enumerate([("01","03"),("04","06"),("07","09"),("10","12")]):
    print(i,s)

0 ('01', '03')
1 ('04', '06')
2 ('07', '09')
3 ('10', '12')